<div li-block="Product Price">
                    <div class="product-header_price-wrapper">
                      <div li-js-price="product.selected_or_first_available_variant.price" class="text-size-large text-weight-bold">$55</div>
                      <div li-js-if="product.selected_or_first_available_variant.compare_at_price &gt; product.selected_or_first_available_variant.price">
                        <div li-js-price="product.selected_or_first_available_variant.compare_at_price" class="text-size-regular text-style-strikethrough text-align-right text-style-muted">$55</div>
                      </div>
                      <div class="product-header_tag-list">
                        <div li-js-if="product.selected_or_first_available_variant.available != true" class="product-item_tag">Not in Stock</div>
                        <div li-js-if="product.selected_or_first_available_variant.compare_at_price &gt; product.selected_or_first_available_variant.price" class="product-item_tag is-red">Sale</div>
                      </div>
                    </div>
                    <div class="text-size-small">inkl. VAT</div>
                  </div> {% schema %} {
    "name": "Product Price",
    "settings": [],
    "presets": [
        {
            "name": "Product Price"
        }
    ]
} {% endschema %}