<div class="article_wrapper padding-global">
          <div class="article_layout">
            <div li-object="article.content" id="w-node-bbc3a713-e991-4432-754a-246320a850a7-dc3bc708" class="w-richtext">{{ article.content }}</div>
          </div>
        </div>
       {% schema %} {
    "tag": "section",
    "name": "Article Content",
    "class": "article_section",
    "presets": [
        {
            "name": "Article Content",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}