<p class="detail-divider_text">Modern<br>Spirits</p>
        <p class="detail-divider_text">Bottled<br>in Turriff</p>
        <p class="detail-divider_text">Product<br>of Scotland</p>
        <p class="detail-divider_text">Proudly<br>by Balmaud</p>
       {% schema %} {
    "tag": "section",
    "name": "Detail Divider",
    "class": "detail-divider_layout",
    "presets": [
        {
            "name": "Detail Divider",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}