<script src="{{ 'li_custom.js' | asset_url }}" type="text/javascript"></script>
<div li-element="product-variant-container" class="floating-add-to-cart_layout" x-data="handleVariant({{ product | json | escape }}, {{ product.options_by_name | json | escape }}, {{ product.selected_or_first_available_variant | json | escape }})" x-init="$nextTick(() =&gt; { activateVariants() })" @setbundleitem.window="updateBundleItem($event.detail.product, $event.detail.quantity)">
          <div class="product-header_form-block w-form">
            {% form 'product', product, class: 'product-header_default-state is-floating' %}
              {% if product.has_only_default_variant != true %}<div li-if="product.has_only_default_variant != true" class="product-header_option-list is-floating">
                <div li-element="product-options-loop" class="product-header_option">
                  <div class="product-header_radio-list"><label li-element="product-option-loop" class="product-header_radio w-radio">
                      <div class="w-form-formradioinput w-form-formradioinput--inputType-custom product-header_radio-button w-radio-input"></div><input type="radio" name="Radio" id="radio" data-name="Radio" li-element="product-option-input" style="opacity:0;position:absolute;z-index:-1" value="Radio">
                      <div li-js-object="'£' + variants.find(variant =&gt; variant.options.includes(variantName))?.price / 100" class="product-header_radio_label">£10</div>
                      <div class="product-header_radio_label is-dash">-</div><span li-element="product-option-name" class="product-header_radio_label w-form-label" for="radio">70cl bottle</span>
                    </label></div>
                </div>
              </div>{% endif %}
              <div class="product-header_add-to-cart-wrapper">
                <template x-if="selected_or_first_available_variant.available">
    <div li-js-if="selected_or_first_available_variant.available" class="product-header_buy-wrappper" >
        <input class="product-header_quantity-field w-input" maxlength="256" name="quantity" li-element="add-to-cart-quantity" data-name="Quantity" placeholder="1" type="number" id="quantity" required="" x-model="quantity">
                  <a li-element="add-to-cart" href="#" class="button is-dark-outline w-button" @click="addToCart($event, true)" :disabled="!addToCartButton">Add to basket</a>
                  <a li-element="checkout-add-to-cart" href="#" class="button is-dark w-button" @click="addToCartAndCheckout($event, false)">Buy Now</a>
                
            </div>
    </template>
              </div>
            {% endform %}
            <div class="hide w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="hide w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
        </div>
       {% schema %} {
    "tag": "section",
    "name": "Floating Add To Cart",
    "class": "floating-add-to-cart_component",
    "presets": [
        {
            "name": "Floating Add To Cart",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}