<div class="padding-global">
          <div class="container-large"></div>
        </div>
        <div class="hero_grid-text_layout">
          <div class="hero_grid-text_text">Modern<br>Spirits</div>
          <div class="hero_grid-text_text">Bottled<br>in Turriff</div>
          <div class="hero_grid-text_text">Product<br>of Scotland</div>
          <div class="hero_grid-text_text">Proudly<br>by Balmaud</div>
        </div><video src="https://dl.dropbox.com/scl/fi/z1e1urrnd8fsgfwnq4h1h/BD_WEBSITE_HEADER.mp4?rlkey=r6x1v6w0s1imzmuoidnh1u2ln&amp;dl=0" autoplay="true" loop="" muted="" playsinline="" class="hero_background-content"></video>
        <div class="holding-hero_bottom_layout">
          <h2 id="w-node-_4b1534fc-a620-5bf7-88cf-362885a23e4f-946dd468" class="holding-hero_bottom_heading">NEW SCHOOL DISTILLERS<br>OLD SCHOOL FARMERS</h2>
          <div id="w-node-_0af6ad9a-4771-6c3d-4083-919b4150854e-946dd468" class="holding-hero_form_wrapper">
            <h1 class="holding-hero_form_heading">Take a seat at our table</h1>
            <div class="holding-hero_form_paragraph">From grain to glass, we remain committed to the land we farm and the quality we craft. There are no shortcuts, just dedication. Bringing a new vision to an age-old craft, we marry time-honoured techniques with innovative thinking to create whisky that transcends eras. We welcome you to join in our journey.</div>
            <div class="holding-hero_form_block w-form">
              <form id="email-form" name="email-form" data-name="Email Form" method="get" class="holding-hero_form_form" data-wf-page-id="675c6140230093d4946dd468" data-wf-element-id="56b2a715-3386-907e-f311-528749d54d57"><input class="holding-hero_form_field w-input" maxlength="256" name="email" data-name="Email" placeholder="Email" type="email" id="email" required="">
                <div class="margin-top margin-small"><input type="submit" data-wait="Please wait..." class="button w-button" value="Sign Up"></div>
              </form>
              <div class="success-message w-form-done">
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="error-message w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
              </div>
            </div>
          </div>
        </div>
       {% schema %} {
    "tag": "section",
    "name": "Holding-Hero",
    "class": "section_holding-hero",
    "presets": [
        {
            "name": "Holding-Hero",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}