<div class="legacy_wrapper">
          <div class="padding-global">
            <div class="legacy_layout">
              <h2 id="w-node-_5b0e130e-c5b7-0f43-5e63-32602259a525-b972f49a" class="legacy_heading heading-style-h5">{{ section.settings.text_heading }}</h2>
              <p balmaud-animation="fade-in" id="w-node-_56c955cb-98a0-4054-eae5-5a193e55216a-b972f49a">{{ section.settings.text_paragraph }}</p>
              <div id="w-node-_05371cda-9135-690e-01fb-93bca74e2592-b972f49a" class="legacy_aside"></div>
            </div>
          </div>
        </div>
       {% schema %} {
    "tag": "section",
    "name": "Legacy",
    "class": "legacy_section",
    "settings": [
        {
            "id": "text_heading",
            "type": "text",
            "label": "Heading",
            "default": "A LEGACYIN THE MAKING"
        },
        {
            "id": "text_paragraph",
            "type": "text",
            "label": "Paragraph",
            "default": "At our 100% family-owned artisan distillery, we make vodka in small batches from organic grapes, infused with whole organic ingredients."
        }
    ],
    "presets": [
        {
            "name": "Legacy",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}